<div class="login-right" >
  <div class="container">
    <h3><strong>Nhập Email</strong></h3>
    <div class="login-top">

      <div class="form-info" style="">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
          <input formControlName="email" id="email" type="email" type="tel" placeholder="Email đăng ký">
          <div class="text-right p-t-8 p-b-31" >
          </div>

          <div *ngIf="isSubmited then submited else notsubmited"></div>
          <ng-template #notsubmited>
            <label class="hvr-sweep-to-right">
              <input type="submit" value="Gửi email xác nhận">
            </label>
            <label class="hvr-sweep-to-right">
              <input type="submit" value="Hủy" routerLink="/login/dangnhap/client">
            </label>
          </ng-template>
          <ng-template #submited>
            <input type="submit" value="Gửi email xác nhận">
            <input type="submit" value="Hủy" routerLink="/login/dangnhap/client">
          </ng-template>
          <!--            <input type="submit" value="Gửi email xác nhận">-->
        </form>
      </div>
    </div>
  </div>
</div>
