<div class="d-flex flex-column" >
  <div id="content">

    <form  (ngSubmit)="OnEdit()" id="contactForm"  class="form-horizontal" role="form">
      <h2>Cập Nhật Tài Khoản</h2>
      <div class="form-group">
        <label for="username" class="col-sm-3 control-label">Tên Đăng Nhập</label>
        <div class="col-sm-9">
          <input  [(ngModel)]="account.username" name="username" type="text" id="userName" placeholder="Tên Đăng Nhập" class="form-control" disabled>
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-3 control-label">Mật Khẩu</label>
        <div class="col-sm-9">
          <input  [(ngModel)]="account.password" name="password" type="password" id="password" placeholder="Mật khẩu" class="form-control" [ngModelOptions]="{standalone: true}">
          <!--          <div *ngIf="!contactForm.controls.passWord?.valid && (contactForm.controls.passWord?.dirty) || contactForm.controls.passWord?.touched" >-->
          <!--            <span style="color:red">Vui Lòng nhập Tên Mật khẩu</span>-->
          <!--          </div>-->
        </div>
      </div>
      <div class="form-group">
        <label id="status" class="col-sm-3 control-label">Trạng Thái</label>
        <div class="col-sm-9">
          <label class="switch">
            <input type="checkbox" [(ngModel)]="account.status" [ngModelOptions]="{standalone: true}">
            <span class="slider round"></span>
          </label><td>
        </div>
      </div>
      <div class="col-sm-9">
        <button (click)="OnEdit()" type="submit" class="btn btn-primary btn-block">Cập Nhật</button>
      </div>

    </form> <!-- /form -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Your Website 2020</span>
        </div>
      </div>
    </footer>
  </div>
</div>
