<div id="content-wrapper" class="d-flex flex-column">
  <div id="content">

    <form class="form-horizontal" role="form">
      <h2>Sửa Tài Khoản</h2>
      <div class="form-group">
        <label for="tendangnhap" class="col-sm-3 control-label">Tên Đăng Nhập</label>
        <div class="col-sm-9">
          <input type="text" id="tendangnhap" placeholder="Tên Đăng Nhập" class="form-control" autofocus>
        </div>
      </div>
      <div class="form-group">
        <label for="matkhau" class="col-sm-3 control-label">Mật Khẩu</label>
        <div class="col-sm-9">
          <input type="password" id="matkhau" placeholder="Mật khẩu" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="hovaten" class="col-sm-3 control-label">Họ Và Tên</label>
        <div class="col-sm-9">
          <input type="text" id="hovaten" placeholder="Họ và tên" class="form-control" autofocus>
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-sm-3 control-label">Email </label>
        <div class="col-sm-9">
          <input type="email" id="email" placeholder="Email" class="form-control" name= "email">
        </div>
      </div>
      <div class="form-group">
        <label for="sinhnhat" class="col-sm-3 control-label">Sinh Nhật</label>
        <div class="col-sm-9">
          <input type="date" id="sinhnhat" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="sodienthoai" class="col-sm-3 control-label">Số Điện Thoại</label>
        <div class="col-sm-9">
          <input type="phoneNumber" id="sodienthoai" placeholder="Số Điện Thoại" class="form-control">

        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="diachi">Địa Chỉ</label>
        <select class="col-sm-3 custom-select-sm" id="diachi">
          <option selected>Chọn địa điểm...</option>
          <option value="1">Hà Nội</option>
          <option value="2">Hồ Chí Minh</option>
          <option value="3">Đà Nẵng</option>
        </select>

      </div>
      <div class="form-group">
        <label for="loaitaikhoan" class="col-sm-3 control-label">Nhóm ID</label>
        <div class="col-sm-9">
          <input type="phoneNumber" id="loaitaikhoan" placeholder="Nhóm ID" class="form-control">

        </div>
      </div>
      <div class="col-sm-9">
        <button type="submit" class="btn btn-primary btn-block">Cập Nhật</button>
      </div>

    </form> <!-- /form -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Your Website 2020</span>
        </div>
      </div>
    </footer>
  </div>
</div>

