<section id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/page/images/RK_SLIDER_20191004045611000000_thumbnail.jpg" alt="RIKKEISOFT"
           style="height: 500px">
      <div class="carousel-caption">
        <h3 style="font-size: 50px">RIKKEISOFT ĐÀ NẴNG</h3>
        <p style="font-size: 20px">Where the dream begins.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/page/images/fville-hanoi.jpg" alt="FPT" style="height: 500px">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/page/images/phoican.jpg" alt="MGM" style="height: 500px">
      <div class="carousel-caption">
        <h3 style="font-size: 50px">MGM Đà Nẵng</h3>
        <p style="font-size: 20px">Start-up - Dare to Dream, Dare to Do!</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</section>

