
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>InternFinder</title>

<!-- Google fonts -->
<link href="//fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap" rel="stylesheet">

<!-- Template CSS -->
<!--  <link rel="stylesheet" href="src/assets/pay/css/style-starter.css">-->
<body>
<section class="pricing-columns pricing-section py-5" id="pricing">
  <div class="container pricing-style-w3ls py-lg-5 py-md-4">
    <div class="title-content text-center">
      <h3 class="title-big">Gói Dịch Vụ</h3>
      <p class="mt-3"></p>
    </div>
    <div class="text-center mt-5 mb-lg-4">
      <label class="toggler toggler--is-active" id="filt-monthly">Gói Tháng</label>
      <div class="toggle">
        <input type="checkbox" id="switcher" class="check">
        <b class="switch"></b>
      </div>
      <label class="toggler" id="filt-hourly">Gói Năm</label>
    </div>
    <div id="monthly">
      <div class="row pricing-chart">
        <div class="col-lg-4">
          <div class="plan popular">
            <h3 class="pop-plan">Gói miễn phí</h3>
            <div class="price mb-4" style="margin-top: 10px">
              <span class="dollar">$</span>
              <span class="amount" data-dollar-amount="19">0</span>
              <span class="month">/tháng</span>
            </div>
            <ul>
              <li><span class="fa fa-check"></span>Đăng tối đa 10 bài</li>
              <li><span class="fa fa-check"></span>Số bài đăng trong 1 ngày: 1</li>
              <li><span class="fa fa-check"></span> Unlimited Domain Support</li>
              <li class="not-available"><span class="fa fa-times"></span> 6 months premium support</li>
              <li class="not-available"><span class="fa fa-times"></span> Lifetime updates</li>
            </ul>
            <a class="btn btn-outline-primary btn-style mt-lg-5 mt-4" href="#url">Thanh Toán</a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="plan popular">
            <h3 class="pop-plan">Gói 3 tháng</h3>
            <div class="price mb-4" style="margin-top: 10px">
              <span class="dollar">$</span>
              <span class="amount" data-dollar-amount="39">39</span>
              <span class="month">/tháng</span>
            </div>
            <ul>
              <li><span class="fa fa-check"></span> Commercial License</li>
              <li><span class="fa fa-check"></span> 100+ HTML UI Elements</li>
              <li><span class="fa fa-check"></span> Unlimited Domain Support</li>
              <li><span class="fa fa-check"></span> 6 months premium support</li>
              <li class="not-available"><span class="fa fa-times"></span> Lifetime updates</li>
            </ul>
            <a class="btn btn-primary btn-style mt-lg-5 mt-4" href="#" routerLink="/paypal">Thanh Toán</a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="plan popular">
            <h3 class="pop-plan">Gói 5 tháng</h3>
            <div class="price mb-4" style="margin-top: 10px">
              <span class="dollar">$</span>
              <span class="amount" data-dollar-amount="69">69</span>
              <span class="month">/tháng</span>
            </div>
            <ul>
              <li><span class="fa fa-check"></span> Commercial License</li>
              <li><span class="fa fa-check"></span> 100+ HTML UI Elements</li>
              <li><span class="fa fa-check"></span> Unlimited Domain Support</li>
              <li><span class="fa fa-check"></span> 6 months premium support</li>
              <li><span class="fa fa-check"></span> Lifetime updates</li>
            </ul>
            <a class="btn btn-outline-primary btn-style mt-lg-5 mt-4" href="#url" routerLink="/paypal">Thanh Toán</a>
          </div>
        </div>
      </div>
    </div>
    <div id="hourly" class="hide">
      <div class="row pricing-chart">
        <div class="col-lg-4">
          <div class="plan popular">
            <h3 class="pop-plan">Gói 1 năm</h3>
            <div class="price mb-4" style="margin-top: 10px">
              <span class="dollar">$</span>
              <span class="amount" data-dollar-amount="00">50</span>
              <span class="month">/năm</span>
            </div>
            <ul>
              <li><span class="fa fa-check"></span> Commercial License</li>
              <li><span class="fa fa-check"></span> 100+ HTML UI Elements</li>
              <li><span class="fa fa-check"></span> Unlimited Domain Support</li>
              <li class="not-available"><span class="fa fa-times"></span> 6 months premium support</li>
              <li class="not-available"><span class="fa fa-times"></span> Lifetime updates</li>
            </ul>
            <a class="btn btn-outline-primary btn-style mt-lg-5 mt-4" href="#url" routerLink="/paypal">Thanh Toán</a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="plan popular active">
            <h3 class="pop-plan">Gói 2 nănm</h3>
            <div class="price mb-4" style="margin-top: 10px">
              <span class="dollar">$</span>
              <span class="amount" data-dollar-amount="49">95</span>
              <span class="month">/năm</span>
            </div>
            <ul>
              <li><span class="fa fa-check"></span> Commercial License</li>
              <li><span class="fa fa-check"></span> 100+ HTML UI Elements</li>
              <li><span class="fa fa-check"></span> Unlimited Domain Support</li>
              <li class="not-available"><span class="fa fa-times"></span> 6 months premium support</li>
              <li class="not-available"><span class="fa fa-times"></span> Lifetime updates</li>
            </ul>
            <a class="btn btn-primary btn-style mt-lg-5 mt-4" href="#url" routerLink="/paypal">Thanh Toán</a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="plan popular">
            <h3 class="pop-plan">Gói 3 năm</h3>
            <div class="price mb-4" style="margin-top: 10px">
              <span class="dollar">$</span>
              <span class="amount" data-dollar-amount="69">135</span>
              <span class="month">/năm</span>
            </div>
            <ul>
              <li><span class="fa fa-check"></span> Commercial License</li>
              <li><span class="fa fa-check"></span> 100+ HTML UI Elements</li>
              <li><span class="fa fa-check"></span> Unlimited Domain Support</li>
              <li class="not-available"><span class="fa fa-times"></span> 6 months premium support</li>
              <li class="not-available"><span class="fa fa-times"></span> Lifetime updates</li>
            </ul>
            <a class="btn btn-outline-primary btn-style mt-lg-5 mt-4" href="#url" routerLink="/paypal">Thanh Toán</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- home page about section -->

<!-- //home page about section -->
<!-- footer17 -->
<!-- //footer17 -->

<!-- Template JavaScript -->
<!--<script src="src/assets/pay/js/jquery-3.3.1.min.js"></script>-->

<!--<script src="src/assets/pay/js/theme-change.js"></script>-->

<!--&lt;!&ndash; pricing tabs js &ndash;&gt;-->
<!--<script src="src/assets/pay/js/tabs.js"></script>-->

<!--&lt;!&ndash; owlcarousel &ndash;&gt;-->
<!--<script src="src/assets/pay/js/owl.carousel.js"></script>-->

<!-- script for tesimonials carousel slider -->
<script>
  $(document).ready(function () {
    $("#owl-demo1").owlCarousel({
      loop: true,
      nav: false,
      margin: 50,
      responsiveClass: true,
      responsive: {
        0: {
          items: 1,
          nav: false
        },
        736: {
          items: 2,
          nav: false
        }
      }
    })
  })
</script>
<!-- //script for tesimonials carousel slider -->

<!-- script for tesimonials agency carousel slider -->
<script>
  $(document).ready(function () {
    $("#owl-agency").owlCarousel({
      loop: true,
      nav: false,
      margin: 50,
      responsiveClass: true,
      responsive: {
        0: {
          items: 1,
          nav: false
        },
        736: {
          items: 1,
          nav: false
        }
      }
    })
  })
</script>
<!-- //script for tesimonials agency carousel slider -->

<!-- magnific popup -->
<!--<script src="src/assets/pay/js/jquery.magnific-popup.min.js"></script>-->
<script>
  $(document).ready(function () {
    $('.popup-with-zoom-anim').magnificPopup({
      type: 'inline',

      fixedContentPos: false,
      fixedBgPos: true,

      overflowY: 'auto',

      closeBtnInside: true,
      preloader: false,

      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-zoom-in'
    });

    $('.popup-with-move-anim').magnificPopup({
      type: 'inline',

      fixedContentPos: false,
      fixedBgPos: true,

      overflowY: 'auto',

      closeBtnInside: true,
      preloader: false,

      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-slide-bottom'
    });
  });
</script>
<!-- //magnific popup -->

<!-- disable body scroll which navbar is in active -->
<script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll which navbar is in active -->

<!--/MENU-JS-->
<script>
  $(window).on("scroll", function () {
    var scroll = $(window).scrollTop();

    if (scroll >= 80) {
      $("#site-header").addClass("nav-fixed");
    } else {
      $("#site-header").removeClass("nav-fixed");
    }
  });

  //Main navigation Active Class Add Remove
  $(".navbar-toggler").on("click", function () {
    $("header").toggleClass("active");
  });
  $(document).on("ready", function () {
    if ($(window).width() > 991) {
      $("header").removeClass("active");
    }
    $(window).on("resize", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
    });
  });
</script>
<!--//MENU-JS-->
<!--<script src="src/assets/pay/js/bootstrap.min.js"></script>-->
</body>



