<div class="login-right">
  <div class="container">
    <h3><strong>ADMIN</strong></h3>
    <div class="login-top">
      <div class="form-info">
        <form>
          <input type="text" class="text" placeholder="Tên Đăng Nhập" required="">
          <input type="password"  placeholder="Mật Khẩu" required="">
          <div>

          </div>
          <div class="custom-control custom-checkbox" style="margin-bottom: 10px;">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Lưu tài khoản</label>
          </div>
          <label class="hvr-sweep-to-right">
            <input type="submit" value="Đăng nhập">
          </label>
        </form>
      </div>
    </div>
  </div>
</div>
