<h2 style="text-align: center">Thông Tin Tài Khoản Sinh Viên</h2>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="tendangnhap">Tên Đăng Nhập</label>
      <input type="text" class="form-control" value="Dat_pham_099" id="tendangnhap" placeholder="" disabled>
    </div>
    <div class="form-group">
      <label for="matkhau">Mật Khẩu Cũ</label>
      <input type="password" class="form-control" value="222222" id="matkhau" placeholder="">
    </div>
    <div class="form-group">
      <label for="pwd" class="col-form-label">Mật Khẩu Mới</label>
      <input type="text" class="form-control" id="pwd" name="password">
    </div>
    <div class="form-group">
      <label for="tentruonghoc">Họ Và Tên</label>
      <input type="text" class="form-control" value="Phạm Đức Đạt" id="tentruonghoc" placeholder="">
    </div>
    <div class="form-group">
      <label for="ngaysinh">Ngày Sinh</label>
      <input type="date" class="form-control" value="Phạm Đức Đạt" id="ngaysinh" placeholder="">
    </div>
    <div class="form-group">
      <label> Giới tính</label>
      <span>Nam</span> <input type="radio" value="nam" name="gioitinh"  checked/>
      <span>Nữ</span> <input type="radio" value="nu" name="gioitinh" />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" value="datpham92qn@gmail.com" id="email" placeholder="name@example.com">
    </div>
    <button type="button" class="btn btn-success">Lưu</button>
    <button type="button" class="btn btn-danger">Xóa Tài Khoản</button>
  </div>

  <div class="col-sm-3">
    <div class="icon-bar">
      <img src="assets/admin/img/me.jpg" class="img-thumbnail">
    </div>
    <div class="input-group mb-1">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupFileAddon01">Thay Đổi</span>
      </div>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
        <label class="custom-file-label" for="inputGroupFile01">Chọn tệp</label>
      </div>
    </div>
  </div>
</div>
<br>
