<div class="login-right">
  <div class="container">
    <h3><strong>Đăng Ký Nhà Tuyển Dụng</strong></h3>
    <div class="login-top">
      <!--				<ul class="login-icons">-->
      <!--					<li><a href="#" ><i class="facebook"> </i><span>Facebook</span></a></li>-->
      <!--					<li><a href="#" class="go"><i class="google"></i><span>Google +</span></a></li>-->
      <!--					<div class="clearfix"> </div>-->
      <!--				</ul>-->
      <div class="form-info">
        <form>
          <input type="text" placeholder="Tên Đăng Nhập">
          <input type="password" placeholder="Mật Khẩu ">
          <input type="password" placeholder=" Nhập lại mật khẩu ">
          <label style="margin-bottom: 10px;">Thông Tin Công Ty</label>

          <input type="text" placeholder="Tên Công Ty ">
          <input type="text" placeholder="Địa Chỉ Công Ty ">
          <input type="text" placeholder="Mã Số Thuế ">
          <input type="text" placeholder="Website ">
          <input type="text" placeholder="Số Điện thoại">
          <input type="text" placeholder="Tên người liên hệ">
          <input type="text" placeholder="Email liên hệ">


          <!--						<div class="custom-control custom-checkbox" style="margin-bottom: 10px;">-->
          <!--							<input type="checkbox" class="custom-control-input" id="customCheck1">-->
          <!--							<label class="custom-control-label" for="customCheck1">Tôi đồng ý với điều khoản và dịch vụ</label>-->
          <!--						</div>-->
          <label class="hvr-sweep-to-right">
            <input type="submit" value="Sign Up">
          </label>
        </form>
        <p>Bạn đã có tài khoản? <a href="dangnhap/client">Đăng nhập</a></p>
      </div>

    </div>
  </div>
</div>
