<div class="container">

  <div style="margin: 30px">
    <form [formGroup]="passForm" (ngSubmit)="onsubmit()">
      <div class="form-group">
        <label>Password*</label>
        <input class="form-control" formControlName="password" type="password" />
      </div>
      <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.password">
          <div class="error-message" *ngIf="passForm.get('password')!.hasError(error.type) && (passForm.get('password')!.dirty || passForm.get('password')!.touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>

      <div class="form-group">
        <label>Confirm Password*</label>
        <input class="form-control" formControlName="confirmpassword" type="password" />
      </div>
      <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.confirmpassword">
          <div class="error-message" *ngIf="passForm.get('confirmpassword')!.hasError(error.type) && (passForm.get('confirmpassword')!.dirty || passForm.get('confirmpassword')!.touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>
      <button class="form-control btn btn-primary" [disabled]="!passForm.valid" routerLink="login/dangnhap/client">Cài lại mật khẩu</button>
    </form>
  </div>
</div>
