
<div class="container" style="max-width: 980px">
  <div class="col-large push-top">
    <ul class="breadcrumbs">
      <li><a href="#"><i class="fa fa-home fa-btn"></i>Trang chủ</a></li>
      <li><a href="#">{{share.account?.fullName}}</a></li>
      <li><a href="#">{{share.title}}</a></li>
    </ul>
    <div class="post-list">
      <div class="post">

        <div class="user-info">
          <a class="user-name">{{share.account?.username}}</a>

          <a href="profile.html#profile-details">
            <img class="avatar-large" [src]="share.account?.image  " alt="">
          </a>

          <p class="desktop-only text-small">107 posts</p>

          <p class="desktop-only text-small">23 threads</p>

          <span class="online desktop-only">online</span>

        </div>

        <div class="post-content">
          <div>
            <h1>{{share.title}}</h1>
            <br>
            <p>
              {{share.content}}
            </p>
          </div>
          <!-- <a href="#" style="margin-left: auto;" class="link-unstyled" title="Make a change"><i class="fa fa-pencil"></i></a> -->
        </div>
        <br>
        <div class="post-date text-faded">
          {{share.create_date|date:'dd/MM/yyyy - HH:mm:ss' }}
        </div>

        <div class="reactions">
          <button class="btn-default"><i class="fa fa-reply">Bình luận</i></button>
        </div>

      </div>
      <!--      binh luan-->
    </div>
    <div>
      <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <h5>Bình Luận</h5>
          <div class="insert-comment" style=" width: 931px;">
         <textarea class="input-comment" formControlName="content" type="text"
                   style="width: 100%; height: 40px;">
         </textarea>
          </div>
          <div *ngIf="this.id_now != this.account?.id; else ngcheckaccount" >
            <button class="btn-comment btn-succ ess" routerLink="/login/dangnhap/client">Thêm Bình luận</button>
          </div>
          <ng-template #ngcheckaccount >
            <button [disabled]="!commentForm.valid" class="btn-comment btn-success">Bình luận</button>
          </ng-template>
        </div>

      </form>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row" *ngFor="let item of commentlist| paginate: {itemsPerPage: 5, currentPage: pageOfItems}">
          <a>
            <img class="avatar-small" [src]="item.account.image" alt="">
          </a>
          <div class="col-md-10">
            <p>
              <a class="float-left"><strong>{{item.account?.fullName}}</strong></a>
              <span class="float-right"><i class="text-warning fa fa-star"></i></span>
              <span class="float-right"><i class="text-warning fa fa-star"></i></span>
              <span class="float-right"><i class="text-warning fa fa-star"></i></span>
              <span class="float-right"><i class="text-warning fa fa-star"></i></span>
            </p>
            <br>
            <div class="clearfix"></div>
            <p>{{item.content}}<p>
            <p>{{item.create_date | date:'dd/mm/yyyy'}}</p>
            <div class="meta-line">
              <div *ngIf="account.id != item.account?.id_account; else checkAccountComment">
                <hr>
              </div>
            </div>
            <ng-template #checkAccountComment>
              <div class="media-body">
                <div class="comment-meta">
             <span>
                  <a role="button" class="btn-lg" (click)="getCommentDeleteById(item.idcoment)">
                  Xóa
                </a>
             </span>
                  <span>
                <a class="" role="button" data-toggle="collapse" href="#{{item.idcoment}}" aria-expanded="false"
                   aria-controls="collapseExample">Sửa</a>
              </span>
                  <div class="collapse" id="{{item.idcoment}}">
                    <form [formGroup]="commentForm">
                      <div class="form-group">
                        <label>Bình luận của bạn</label>
                        <textarea [value]="comment?.content" formControlName="content" name="comment" class="form-control"
                                  rows="3"></textarea>
                      </div>
                      <button type="submit"  class="btn btn-default" (click)="getEditComments(item.idcoment)">Cập nhật</button>
                    </form>
                  </div>
                </div>
              </div>
            </ng-template>
            <hr>
          </div>

        </div>
        <pagination-controls (pageChange)="pageOfItems = $event"></pagination-controls>
      </div>
    </div>
  </div>
    <!-- comments -->
  </div>
<br>
