<div class="navigation">
  <div class="container-fluid">
    <nav class="pull">
      <ul>
        <li><a  href="../../../index.html">TOP CV</a></li>
        <li><a  href="about.html">MẪU CV</a></li>
        <li><a  href="blog.html">VIỆC LÀM</a></li>
        <li><a  href="terms.html">CÔNG TY</a></li>
        <li><a  href="privacy.html">TƯ VẤN</a></li>
        <li><a  href="contact.html">ĐĂNG TIN-TÌM HỒ SƠ</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="header">
  <div class="container">
    <!--logo-->
    <div class="logo">
      <h1><a href="../../../index.html">INTERNFINDER</a></h1>
    </div>
    <!--//logo-->
    <div class="top-nav">
      <ul class="right-icons">
        <li><span ><i class="glyphicon glyphicon-phone"> </i>+84972921571</span></li>
        <li><a href="src/app/menu/client/client.component.html" routerLink="#"><i class="glyphicon glyphicon-user"> </i>Đăng Nhập</a></li>
      </ul>
      <div class="nav-icon">
        <div class="hero nav_slide_button" id="hero">
          <a href="#"><i class="glyphicon glyphicon-menu-hamburger"></i> </a>
        </div>
        <!---
        <a href="#" class="right_bt" id="activator"><i class="glyphicon glyphicon-menu-hamburger"></i>  </a>
      --->
      </div>
      <div class="clearfix"> </div>
      <!---pop-up-box---->
      <!--      <script src="../src/assets/js/jquery.min.js"></script>-->
      <!---//pop-up-box---->
      <div id="small-dialog" class="mfp-hide">
        <!----- tabs-box ---->
        <div class="sap_tabs">
          <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
            <ul class="resp-tabs-list">
              <li class="resp-tab-item " aria-controls="tab_item-0" role="tab"><span>Vị Trí Muốn Ứng Tuyển</span></li>
              <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>Địa Điểm</span></li>
              <li class="resp-tab-item" aria-controls="tab_item-2" role="tab"><span>Ngành Nghề</span></li>
              <div class="clearfix"></div>
            </ul>
            <div class="resp-tabs-container">
              <h2 class="resp-accordion resp-tab-active" role="tab" aria-controls="tab_item-0"><span class="resp-arrow"></span>Vị Trí Ứng Tuyển</h2><div class="tab-1 resp-tab-content resp-tab-content-active" aria-labelledby="tab_item-0" style="display:block">
              <div class="facts">
                <div class="login">
                  <input type="text" value="Công việc,vị trí ứng tuyển...." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Công việc,vị trí ứng tuyển....';}">
                  <input type="submit" value="">
                </div>
              </div>
            </div>
              <h2 class="resp-accordion" role="tab" aria-controls="tab_item-1"><span class="resp-arrow"></span>Địa Điểm</h2><div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
              <div class="facts">
                <div class="login">
                  <input type="text" value="Địa điểm" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Địa điểm';}">
                  <input type="submit" value="">
                </div>
              </div>
            </div>
              <h2 class="resp-accordion" role="tab" aria-controls="tab_item-2"><span class="resp-arrow"></span>Ngành Nghề</h2><div class="tab-1 resp-tab-content" aria-labelledby="tab_item-2">
              <div class="facts">
                <div class="login">
                  <input type="text" value="Ngành nghề phù hợp với bản thân" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Ngành nghề phù hợp với bản thân';}">
                  <input type="submit" value="">
                </div>
              </div>
            </div>
            </div>
          </div>

          <script type="text/javascript">
            $(document).ready(function () {
              $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true   // 100% fit in a container
              });
            });
          </script>
        </div>
      </div>
      <script>
        $(document).ready(function() {
          $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',
            fixedContentPos: false,
            fixedBgPos: true,
            overflowY: 'auto',
            closeBtnInside: true,
            preloader: false,
            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
          });

        });
      </script>


    </div>
    <div class="clearfix"> </div>
  </div>
</div>
