
<header class="header">
  <div class="top_bar background-color-orange">
    <div class="top_bar_container">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
              <ul class="top_bar_contact_list">
                <li>
                  <i class="fa fa-phone coll" aria-hidden="true"></i>
                  <div class="contact-no">0777941772</div>
                </li>
                <li>
                  <i class="fa fa-envelope coll" aria-hidden="true"></i>
                  <div class="email"><a>interfinder@dtu.com</a>
                  </div>
                </li>
              </ul>
              <div class=" ml-auto ">
                <ul class="top_bar_contact_list">
                  <li>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <div class="contact-no">
                      <a href="login/dangnhap/client" style="color: white">&nbsp;Đăng nhập</a>
                    </div>
                  </li>
                  <li class="dropdown ">
                    <a class="dropdown-toggle" style="color: white" data-toggle="dropdown" >Đăng kí</a>
                    <ul class="dropdown-menu">
                      <li><a style="color: white" href="login/dangky/nhatuyendung">Đăng kí nhà tuyển dụng</a></li>
                      <li><a style="color: white" href="login/dangky/sinhvien">Đăng kí sinh viên</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class=" ml-auto ">
                <ul class="top_bar_contact_list">
                  <li>
                    <i class="fa fa-edit" aria-hidden="true"></i>
                    <div class="contact-no">
                      <a (click)="logout()" style="color: white;cursor: pointer">&nbsp; Đăng xuất</a>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="menu-ml">
                <div class="hamburger menu_mm  search_button transparent search display"><i
                  class="large material-icons font-color-white  search-icone  menu_mm ">menu</i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  <div class="header_container background-color-orange-light">-->
  <!--    <div class="container">-->
  <!--      <div class="row">-->
  <!--        <div class="col">-->
  <!--          <div class="header_content d-flex flex-row align-items-center justify-content-start">-->
  <!--            <div class="logo_container">-->
  <!--              <a href="index.html">-->
  <!--                <img src="../../../assets/Client/minhhoang/imags/interfinder.jpg" style="max-width: 170px;" class="logo-text" alt="">-->
  <!--              </a>-->
  <!--            </div>-->
  <!--            <nav class="main_nav_contaner ml-auto">-->
  <!--              <ul class="main_nav">-->
  <!--                <li class="dropdown active ">-->
  <!--                  <a class="dropdown-toggle" data-toggle="dropdown">Trang chủ</a>-->
  <!--                  <ul class="dropdown-menu">-->
  <!--                    <li><a href="index.html">Nhà tuyển dụng</a></li>-->
  <!--                    <li><a href="index2.html">Người tìm việc</a></li>-->
  <!--                  </ul>-->
  <!--                </li>-->
  <!--                <li class="dropdown ">-->
  <!--                  <a class="dropdown-toggle" data-toggle="dropdown" >Kĩ năng</a>-->
  <!--                  <ul class="dropdown-menu">-->
  <!--                    <li><a href="job_category.html">Khóa Học</a></li>-->
  <!--                    <li><a href="job_detail.html">Phỏng Vấn</a></li>-->
  <!--                  </ul>-->
  <!--                </li>-->
  <!--                <li><a href="blog_page.html">Việc làm</a></li>-->
  <!--                <li><a href="blog_page.html">Diễn đàn</a></li>-->
  <!--                <li><a href="about_us.html">Công ty</a></li>-->
  <!--                <li><a href="contact.html">Liên hệ</a></li>-->
  <!--              </ul>-->
  <!--              <div class=" Post-Jobs">-->
  <!--                <a href="post_job.html" class="">-->
  <!--                  Mẫu CV-->
  <!--                </a>-->
  <!--              </div>-->
  <!--              <div class="hamburger menu_mm menu-vertical">-->
  <!--                <i class="large material-icons font-color-white menu_mm menu-vertical">menu</i>-->
  <!--              </div>-->
  <!--            </nav>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->

  <div class="header_container background-color-orange-light">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="header_content d-flex flex-row align-items-center justify-content-start">
            <div class="logo_container">
              <a href="index.html">
                <img src="../../../assets/Client/minhhoang/logo.gif" style="max-width: 170px;" class="logo-text" alt="">
              </a>
            </div>
            <nav class="main_nav_contaner ml-auto">
              <ul class="main_nav">
                <li><a href="">Trang chủ</a></li>
                <li class="dropdown ">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Quản lý CV</a>
                  <ul class="dropdown-menu">
                    <li><a href="/create_cv">Tạo CV</a></li>
<!--                    <li><a href="job_detail.html">Tải CV lên</a></li>-->
                    <li><a routerLink="xemcv-ntd">Xem CV</a></li>
                  </ul>
                </li>
                <li class="dropdown ">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Kĩ năng</a>
                  <ul class="dropdown-menu">
                    <li><a href="job_category.html">Khóa Học</a></li>
                    <li><a href="job_detail.html">Phỏng Vấn</a></li>
                  </ul>
                </li>
                <li><a href="/timkiemtra">Việc làm</a></li>
                <li><a routerLink="/xembaidangtuyen">Công ty</a></li>
                <li><a routerLink="/forum">Diễn đàn</a></li>
                <li><a href="#">Liên hệ</a></li>
              </ul>
              <div class=" Post-Jobs">
                <a routerLink="/dangtuyendung" style="color: white;">Đăng bài</a>
              </div>
              <div class="hamburger menu_mm menu-vertical">
                <i class="large material-icons font-color-white menu_mm menu-vertical">menu</i>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
    <div class="menu_close_container">
      <div class="menu_close">
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="search">
      <form action="#" class="header_search_form menu_mm">
        <input type="search" class="search_input menu_mm" required="required">
        <button
          class="header_search_button d-flex flex-column align-items-center justify-content-center menu_mm">
          <i class="fa fa-search menu_mm" aria-hidden="true"></i>
        </button>
      </form>
    </div>
    <nav class="menu_nav">
      <ul class="menu_mm">
        <li class="dropdown active ">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Trang chủ</a>
          <!--          <ul class="dropdown-menu">-->
          <!--            <li><a href="index.html">Home variation 1</a></li>-->
          <!--            <li><a href="index2.html">Home variation 2</a></li>-->
          <!--          </ul>-->
        </li>
        <li class="dropdown ">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Kĩ năng</a>
          <ul class="dropdown-menu">
            <li><a href="job_category.html">Khóa Học</a></li>
            <li><a href="job_detail.html">Phỏng Vấn</a></li>
          </ul>
        </li>
        <li><a href="blog_page.html">Việc làm</a></li>
        <li><a href="blog_page.html">Diễn đàn</a></li>
        <li><a href="about_us.html">Công ty</a></li>
        <li><a href="contact.html">Liên hệ</a></li>
      </ul>
    </nav>
  </div>
</header>

