
<section id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/page/images/RK_SLIDER_20191004045611000000_thumbnail.jpg" alt="RIKKEISOFT" style="height: 500px">
      <div class="carousel-caption">
        <h3 style="font-size: 50px">RIKKEISOFT ĐÀ NẴNG</h3>
        <p style="font-size: 20px">Where the dream begins.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/page/images/fville-hanoi.jpg" alt="FPT" style="height: 500px">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/page/images/phoican.jpg" alt="MGM" style="height: 500px">
      <div class="carousel-caption">
        <h3 style="font-size: 50px">MGM Đà Nẵng</h3>
        <p style="font-size: 20px">Start-up - Dare to Dream, Dare to Do!</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</section>

<div id="search-box">
  <div class="container search-box">
    <form action="#" id="search-box_search_form_3"
          class="search-box_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between ">
      <div class="d-flex flex-row align-items-center justify-content-start inline-block">
        <span class="large fa fa-pen-square search"></span>
        <input class="search-box_search_input"   placeholder="Nhập vào từ khóa cần tìm" required="required" type="search">
        <span class="fa fa-tools large search "></span>
        <select  class="dropdown_item_select search-box_search_input">
          <option value="1">Tất cả ngành nghề</option>
          <option value="1">Công nghệ thông tin</option>
          <option value="2">Ngân Hàng</option>
          <option value="3">Hàng tiêu dùng</option>
          <option value="4">Hóa dược</option>
          <option value="5">Bác sĩ</option>
          <option value="6">Hành chính/ Văn phòng</option>
        </select>
        <span class="large material-icons search">place</span>
        <select  class="dropdown_item_select search-box_search_input" >
          <option value="1">Tất cả địa điểm</option>
          <option value="2">Đà Nẵng</option>
          <option value="3">Hà Nội</option>
          <option value="4">TP. Hồ Chí Minh</option>
          <option value="5">Quảng Nam</option>
          <option value="6">Hội An</option>
          <option value="7">Vũng Tàu</option>
          <option value="8">Hải Phòng</option>
          <option value="9">Lào Cai</option>
          <option value="10">Đà Lạt</option>
        </select>
      </div>
      <button routerLink="timkiem-trangchu" type="submit" class="search-box_search_button" >Tìm kiếm</button>
    </form>
  </div>
</div>
<section id="Jobtend">
  <div class="container">
    <div class="vertical-space-85"></div>
    <div class="row">
      <div class="col-lg-9 col-md-6  align-self-center">
        <h3 class="title">CÔNG CỤ TẠO CV ĐẸP MIỄN PHÍ</h3>
        <div class="vertical-space-30"></div>
        <p class="max-width">Nhiều mẫu CV đẹp, phù hợp nhu cầu ứng tuyển các vị trí khác nhau.
          Tương tác trực quan, dễ dàng chỉnh sửa thông tin, tạo CV online nhanh chóng trong vòng 5 phút.
          Nhận gợi ý cách viết CV phù hợp cùng các mẫu CV tham khảo chi tiết theo ngành nghề.
          Đồng bộ với các mẫu thư xin việc (Cover Letter). Hỗ trợ đa ngôn ngữ: tiếng Anh / Nhật / Việt.
        </p>
        <div class="vertical-space-30"></div>
        <h4>Tại sao bạn phải đến với chúng tôi</h4>
        <div class="vertical-space-30"></div>
        <ul>
          <li class="list-item1 ">Hàng ngàn tin tuyển dụng chất lượng cao được cập nhật
            <br /> thường xuyên để đáp ứng nhu cầu tìm việc của ứng viên.
          </li>
          <li class="list-item1 ">Hệ thống thông minh tự động gợi ý các công việc phù hợp theo CV của bạn
          </li>
        </ul>
        <div class="vertical-space-30"></div>
        <a href="#" class="Explore-Employee">Tạo CV</a>
        <a href="#" class="Explore-New-Jobs">Tìm Việc Ngay</a>
      </div>
      <div class="col-lg-3 col-md-6">
        <img src="../../../assets/Client/minhhoang/imags/man.png" alt="" class="man-img">
      </div>
      <div class="vertical-space-60"></div>
    </div>
  </div>
</section>
<section id="resent-job-post" class="background-color-white">
  <div class="vertical-space-85"></div>
  <div class="container text-center">
    <h3 class="text-center">TIN TUYỂN DỤNG</h3>
    <div class="vertical-space-30"></div>
    <p class="max-width">Nhanh chống tìm ngay một công việc phù hợp với mình!!!
    </p>
    <div class="vertical-space-60"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="detail">
            <div class="media display-inline text-align-center">
              <img src="../../../assets/Client/minhhoang/imags/copy_765593473.png" alt="John Doe" class="mr-3 " style="width: 85px">
              <div class="media-body text-left  text-align-center">
                <h6>Tuyển lập trình viên PHP</h6>
                <i class="large material-icons">account_balance</i>
                <span class="text">BAP</span>
                <br />
                <i class="large material-icons">place</i>
                <span class="text font-size">Đà Nẵng</span>
                <div class="float-right margin-top text-align-center">
                  <a href="#" class="part-full-time">Bán thời gian</a>
                  <p class="date-time">Hạn cuối:  04/08/2021</p>
                </div>
              </div>
            </div>
          </div>
          <div class="detail">
            <div class="media display-inline text-align-center">
              <img src="../../../assets/Client/minhhoang/imags/copy_rikkei.png" alt="John Doe" class="mr-3 " style="width: 85px">
              <div class="media-body text-left  text-align-center">
                <h6>Tuyển lập trình viên JAVA</h6>
                <i class="large material-icons">account_balance</i>
                <span class="text">RIKKEI</span>
                <br />
                <i class="large material-icons">place</i>
                <span class="text font-size">Đà Nẵng</span>
                <div class="float-right margin-top text-align-center">
                  <a href="#" class="part-full-time">Bán thời gian</a>
                  <p class="date-time">Hạn cuối:  04/08/2021</p>
                </div>
              </div>
            </div>
          </div>
          <div class="detail">
            <div class="media display-inline text-align-center">
              <img src="../../../assets/Client/minhhoang/imags/novaio-copy.png" alt="John Doe" class="mr-3 " style="width: 85px">
              <div class="media-body text-left  text-align-center">
                <h6>Tuyển nhân viên bán hàng</h6>
                <i class="large material-icons">account_balance</i>
                <span class="text">NOVAIO</span>
                <br />
                <i class="large material-icons">place</i>
                <span class="text font-size">Hà Nội</span>
                <div class="float-right margin-top text-align-center">
                  <a href="#" class="part-full-time">Bán thời gian</a>
                  <p class="date-time">Hạn cuối:  04/08/2021</p>
                </div>
              </div>
            </div>
          </div>
          <div class="detail">
            <div class="media display-inline text-align-center">
              <img src="../../../assets/Client/minhhoang/imags/copy_mgm.png" alt="John Doe" class="mr-3 " style="width: 85px">
              <div class="media-body text-left  text-align-center">
                <h6>Kĩ sư bảo mật hệ thống </h6>
                <i class="large material-icons">account_balance</i>
                <span class="text">MGM</span>
                <br />
                <i class="large material-icons">place</i>
                <span class="text font-size">Đà Nẵng</span>
                <div class="float-right margin-top text-align-center">
                  <a href="#" class="part-full-time">Bán thời gian</a>
                  <p class="date-time">Hạn cuối:  04/08/2021</p>
                </div>
              </div>
            </div>
          </div>
          <div class="detail">
            <div class="media display-inline text-align-center">
              <img src="../../../assets/Client/minhhoang/imags/copy_rikkei.png" alt="John Doe" class="mr-3 " style="width: 85px">
              <div class="media-body text-left  text-align-center">
                <h6>Tuyển lập trình viên PHP</h6>
                <i class="large material-icons">account_balance</i>
                <span class="text">RIKKEI</span>
                <br />
                <i class="large material-icons">place</i>
                <span class="text font-size">Hà Nội</span>
                <div class="float-right margin-top text-align-center">
                  <a href="#" class="part-full-time">Bán thời gian</a>
                  <p class="date-time">Hạn cuối:  04/08/2021</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="detail">
            <div class="media display-inline text-align-center">
              <img src="../../../assets/Client/minhhoang/imags/copy_mgm.png" alt="John Doe" class="mr-3 " style="width: 85px">
              <div class="media-body text-left  text-align-center">
                <h6>Tuyển lập trình viên PHP</h6>
                <i class="large material-icons">account_balance</i>
                <span class="text">MGM</span>
                <br />
                <i class="large material-icons">place</i>
                <span class="text font-size">Đà Nẵng</span>
                <div class="float-right margin-top text-align-center">
                  <a href="#" class="part-full-time">Bán thời gian</a>
                  <p class="date-time">Hạn cuối:  04/08/2021</p>
                </div>
              </div>
            </div>
          </div>
          <div class="detail">
            <div class="media display-inline text-align-center">
              <img src="../../../assets/Client/minhhoang/imags/copy_fpt.png" alt="John Doe" class="mr-3 " style="width: 85px">
              <div class="media-body text-left  text-align-center">
                <h6>Tuyển lập trình viên JAVA</h6>
                <i class="large material-icons">account_balance</i>
                <span class="text">FPT</span>
                <br />
                <i class="large material-icons">place</i>
                <span class="text font-size">TP.Hồ Chí Minh</span>
                <div class="float-right margin-top text-align-center">
                  <a href="#" class="part-full-time">Bán thời gian</a>
                  <p class="date-time">Hạn cuối:  04/08/2021</p>
                </div>
              </div>
            </div>
          </div>
          <div class="detail">
            <div class="media display-inline text-align-center">
              <img src="../../../assets/Client/minhhoang/imags/about_copy.png" alt="John Doe" class="mr-3 " style="width: 85px">
              <div class="media-body text-left  text-align-center">
                <h6>Tuyển nhân viên bán hàng</h6>
                <i class="large material-icons">account_balance</i>
                <span class="text">JAPAN QUALITY</span>
                <br />
                <i class="large material-icons">place</i>
                <span class="text font-size">Hà Nội</span>
                <div class="float-right margin-top text-align-center">
                  <a href="#" class="part-full-time">Bán thời gian</a>
                  <p class="date-time">Hạn cuối:  04/08/2021</p>
                </div>
              </div>
            </div>
          </div>
          <div class="detail">
            <div class="media display-inline text-align-center">
              <img src="../../../assets/Client/minhhoang/imags/copy_fpt.png" alt="John Doe" class="mr-3 " style="width: 85px">
              <div class="media-body text-left  text-align-center">
                <h6>Kĩ sư bảo mật hệ thống </h6>
                <i class="large material-icons">account_balance</i>
                <span class="text">FPT</span>
                <br />
                <i class="large material-icons">place</i>
                <span class="text font-size">Đà Nẵng</span>
                <div class="float-right margin-top text-align-center">
                  <a href="#" class="part-full-time">Bán thời gian</a>
                  <p class="date-time">Hạn cuối:  04/08/2021</p>
                </div>
              </div>
            </div>
          </div>
          <div class="detail">
            <div class="media display-inline text-align-center">
              <img src="../../../assets/Client/minhhoang/imags/novaio-copy.png" alt="John Doe" class="mr-3 " style="width: 85px">
              <div class="media-body text-left  text-align-center">
                <h6>Tuyển lập trình viên PHP</h6>
                <i class="large material-icons">account_balance</i>
                <span class="text">NOVAIO</span>
                <br />
                <i class="large material-icons">place</i>
                <span class="text font-size">Đà Nẵng</span>
                <div class="float-right margin-top text-align-center">
                  <a href="#" class="part-full-time">Bán thời gian</a>
                  <p class="date-time">Hạn cuối:  04/08/2021</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="vertical-space-20"></div>
    <div class="job-list">
      <a href="#" class="Open-Jobs-Page margin-auto">Nhiều hơn<i
        class="large material-icons float-right">trending_flat</i></a>
      <ul class="pagination justify-content-end margin-auto">
        <li class="page-item"><a class="page-link pdding-none" href="javascript:void(0);"><i
          class=" material-icons keyboard_arrow_left_right">keyboard_arrow_left</i></a></li>
        <li class="page-item"><a class="page-link active" href="javascript:void(0);">1</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">4</a></li>
        <li class="page-item">
          <a class="page-link pdding-none" href="javascript:void(0);"> <i
            class=" material-icons keyboard_arrow_left_right">keyboard_arrow_right</i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="vertical-space-60"></div>
</section>
<section id="Job-Category">
  <div class="container">
    <h3 class="text-center">Các ngành nghề nổi bật</h3>
    <div class="vertical-space-30"></div>
    <p class="max-width">Khám phá ngay 30.000+ việc làm tốt nhất trên interfinder
    </p>
    <div class="vertical-space-60"> </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 max-width-50">
        <div class="box background-color-white-light">
          <div class="circle">
            <img src="../../../assets/Client/minhhoang/imags/icone/service-icone-1.png" alt="">
          </div>
          <h6>Giáo dục / Đào tạo</h6>
          <a href="#" class="button job_post" data-hover="Xem Bài" data-active="I'M ACTIVE"><span>36 bài đăng</span></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 max-width-50">
        <div class="box background-color-white-light">
          <div class="circle">
            <img src="../../../assets/Client/minhhoang/imags/icone/service-icone-2.png" alt="">
          </div>
          <h6>Marketing/ Truyền thông</h6>
          <a href="#" class="button job_post" data-hover="Xem Bài" data-active="I'M ACTIVE"><span>72 bài đăng</span></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 max-width-50">
        <div class="box background-color-white-light">
          <div class="circle">
            <img src="../../../assets/Client/minhhoang/imags/icone/service-icone-3.png" alt="">
          </div>
          <h6>Kĩ thuật máy tính</h6>
          <a href="#" class="button job_post" data-hover="Xem Bài" data-active="I'M ACTIVE"><span>42 bài đăng</span></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 max-width-50">
        <div class="box background-color-white-light">
          <div class="circle">
            <img src="../../../assets/Client/minhhoang/imags/icone/service-icone-4.png" alt="">
          </div>
          <h6>Hỗ trợ khách hàng</h6>
          <a href="#" class="button job_post" data-hover="Xem Bài" data-active="I'M ACTIVE"><span>18 bài đăng</span></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 max-width-50">
        <div class="box background-color-white-light">
          <div class="circle">
            <img src="../../../assets/Client/minhhoang/imags/icone/service-icone-5.png" alt="">
          </div>
          <h6>Thiết kế / Đồ họa</h6>
          <a href="#" class="button job_post" data-hover="Xem Bài" data-active="I'M ACTIVE"><span>48 bài đăng</span></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 max-width-50">
        <div class="box background-color-white-light">
          <div class="circle">
            <img src="../../../assets/Client/minhhoang/imags/icone/service-icone-6.png" alt="">
          </div>
          <h6>Lập trình Web</h6>
          <a href="#" class="button job_post" data-hover="Xem Bài" data-active="I'M ACTIVE"><span>94 Bài đăng</span></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 max-width-50 margin-left-18">
        <div class="box background-color-white-light">
          <div class="circle">
            <img src="../../../assets/Client/minhhoang/imags/icone/service-icone-7.png" alt="">
          </div>
          <h6>Y tế / Dược</h6>
          <a href="#" class="button job_post" data-hover="Xem Bài" data-active="I'M ACTIVE"><span>64 bài đăng</span></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 max-width-50">
        <div class="box background-color-white-light ">
          <div class="circle">
            <img src="../../../assets/Client/minhhoang/imags/icone/service-icone-8.png" alt="">
          </div>
          <h6>Cơ khí/ Tự động hóa</h6>
          <a href="#" class="button job_post" data-hover="Xem Bài" data-active="I'M ACTIVE"><span>52 bài đăng</span></a>
        </div>
      </div>
    </div>
    <div class="vertical-space-40"></div>
    <a href="#" class="Brows-All-Category">Xem tiếp</a>
  </div>
  <div class="vertical-space-85"></div>
</section>




<!--//header-bottom-->
<!--//header-->
<!--content-->
<div class="content">
  <!--service-->
  <!--  <div class="services">-->
  <!--    <div class="container">-->
  <!--      <div class="service-top">-->
  <!--        <h3>Lợi ích của IF</h3>-->
  <!--      </div>-->
  <!--      <div class="services-grid">-->
  <!--        <div class="col-md-6 service-top1">-->
  <!--          <div class=" ser-grid">-->
  <!--            <a href="#" class="hi-icon hi-icon-archive glyphicon glyphicon-user"> </a>-->
  <!--          </div>-->
  <!--          <div  class="ser-top">-->
  <!--            <h4>Đối Tác Liên Doanh</h4>-->
  <!--            <p>Liên doanh với những doanh nghiệp lớn với nhà trường để tạo cơ hội tốt nhất cho bạn có thể tìm-->
  <!--              được công việc mình muốn.</p>-->
  <!--          </div>-->
  <!--          <div class="clearfix"> </div>-->
  <!--        </div>-->
  <!--        <div class="col-md-6 service-top1">-->
  <!--          <div class=" ser-grid">-->
  <!--            <a href="#" class="hi-icon hi-icon-archive glyphicon glyphicon-leaf"> </a>-->
  <!--          </div>-->
  <!--          <div  class="ser-top">-->
  <!--            <h4>Khóa Học Kỹ Năng-Chia Sẻ Kinh Nghiệm</h4>-->
  <!--            <p>Giúp cho bạn học được những kỹ năng đang thiếu và đào tạo để trở nên giỏi hơn.</p>-->
  <!--          </div>-->
  <!--          <div class="clearfix"> </div>-->
  <!--        </div>-->
  <!--        <div class="clearfix"> </div>-->
  <!--      </div>-->
  <!--      <div class="services-grid">-->
  <!--        <div class="col-md-6 service-top1">-->
  <!--          <div class=" ser-grid">-->
  <!--            <a href="#" class="hi-icon hi-icon-archive glyphicon glyphicon-cog"> </a>-->
  <!--          </div>-->
  <!--          <div  class="ser-top">-->
  <!--            <h4>Bảo Mật Và An Toàn Tuyệt Đối</h4>-->
  <!--            <p>Bạn có thể chủ động bật / tắt trạng thái tìm việc, trạng thái cho phép Nhà tuyển dụng xem hồ sơ. Nếu các trạng thái tắt, không ai có thể xem được CV của bạn</p>-->
  <!--          </div>-->
  <!--          <div class="clearfix"> </div>-->
  <!--        </div>-->
  <!--        <div class="col-md-6 service-top1">-->
  <!--          <div class=" ser-grid">-->
  <!--            <a href="#" class="hi-icon hi-icon-archive glyphicon glyphicon-file"> </a>-->
  <!--          </div>-->
  <!--          <div  class="ser-top">-->
  <!--            <h4>Hỗ Trợ Tìm Việc</h4>-->
  <!--            <p>Nhà tuyển dụng chủ động tìm kiếm và liên hệ với bạn qua hệ thống kết nối ứng viên thông minh.-->
  <!--              <br>-->
  <!--              Báo cáo chi tiết Nhà tuyển dụng đã xem CV và gửi offer tới bạn.-->
  <!--              <br>-->
  <!--              Định hướng nghề nghiệp & khám phá tính cách qua Công cụ Trắc nghiệm tính cách MBTI.</p>-->
  <!--          </div>-->
  <!--          <div class="clearfix"> </div>-->
  <!--        </div>-->
  <!--        <div class="clearfix"> </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!-- -->
  <!--  <div class="content-bottom">-->
  <!--    <div class="container">-->
  <!--      <h3>Nhận Xét</h3>-->
  <!--      <div class="col-md-6 name-in">-->
  <!--        <div class=" bottom-in">-->
  <!--          <p class="para-in">Duis aute irure dolor in reprehenderit in voluptate-->
  <!--            velit esse cillum dolore eu fugiat nulla pariatur.</p>-->
  <!--          <i class="dolor"> </i>-->
  <!--          <div class="men-grid">-->
  <!--            <a href="#" class="men-top"><img class="img-responsive men-top" src="../../../assets/page/images/te.jpg" alt=""></a>-->
  <!--            <div class="men">-->
  <!--              <span>Roger V. Coates</span>-->
  <!--              <p>Founder-TalentFPT</p>-->
  <!--            </div>-->
  <!--            <div class="clearfix"> </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div class=" bottom-in">-->
  <!--          <p class="para-in">Nhờ có internfinder mà tôi có thể tìm được công việc mơ ước của mình</p>-->
  <!--          <i class="dolor"> </i>-->
  <!--          <div class="men-grid">-->
  <!--            <a href="#" class="men-top"><img class="img-responsive " src="../../../assets/page/images/hhh1.jpg" alt=""></a>-->
  <!--            <div class="men">-->
  <!--              <span>Trần Hoàng Anh</span>-->
  <!--              <p>Fresher</p>-->
  <!--            </div>-->
  <!--            <div class="clearfix"> </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="col-md-6  name-on">-->
  <!--        <div class="bottom-in ">-->
  <!--          <p class="para-in">Nhờ có internfinder mà tôi có thể tìm được nhiều ứng viên có tìm năng và ít tốn thời gian quý báu của mình</p>-->
  <!--          <i class="dolor"> </i>-->
  <!--          <div class="men-grid">-->
  <!--            <a href="#" class="men-top"><img class="img-responsive " src="../../../assets/page/images/Capture.PNG" alt=""></a>-->
  <!--            <div class="men">-->
  <!--              <span>Nguyễn T.Kiều Trang</span>-->
  <!--              <p>CEO BEST</p>-->
  <!--            </div>-->
  <!--            <div class="clearfix"> </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="clearfix"> </div>-->
  <!--    </div>-->
  <!--  </div>-->

  <div class="content-bottom1">
    <h3>ĐỐI TÁC</h3>
    <div class="container">
      <ul>
        <li><a href="#"><img class="img-responsive" src="../../../assets/page/images/lg.png" alt=""></a></li>
        <li><a href="#"><img class="img-responsive" src="../../../assets/page/images/lg1.png" alt=""></a></li>
        <li><a href="#"><img class="img-responsive" src="../../../assets/page/images/lg2.png" alt=""></a></li>
        <li><a href="#"><img class="img-responsive" src="../../../assets/page/images/lg3.png" alt=""></a></li>
        <li><a href="#"><img class="img-responsive" src="../../../assets/page/images/lg4.png" alt=""></a></li>
        <div class="clearfix"> </div>
      </ul>
      <ul>
        <li><a href="#"><img class="img-responsive" src="../../../assets/page/images/lg5.png" alt=""></a></li>
        <li><a href="#"><img class="img-responsive" src="../../../assets/page/images/lg6.png" alt=""></a></li>
        <li><a href="#"><img class="img-responsive" src="../../../assets/page/images/lg7.png" alt=""></a></li>
        <li><a href="#"><img class="img-responsive" src="../../../assets/page/images/lg8.png" alt=""></a></li>
        <li><a href="#"><img class="img-responsive" src="../../../assets/page/images/lg9.png" alt=""></a></li>
        <div class="clearfix"> </div>
      </ul>
    </div>
  </div>
  <!--//partners-->
</div>
<!--footer-->
<!--//footer-->

