<div class="footer">
  <div class="container">
    <div class="footer-top-at">
      <div class="col-md-3 amet-sed">
        <h4>Ứng Viên</h4>
        <ul class="nav-bottom">
          <li><a href="about.html">Tìm Việc</a></li>
          <li><a href="blog.html">Các Khóa Học</a></li>
          <li><a href="mobile_app.html">Hướng Dẫn Viết CV</a></li>
          <li><a href="terms.html">Tư Vấn CV</a></li>
          <li><a href="privacy.html">Thiết Kế CV</a></li>
          <li><a href="blog.html">Bài Viết</a></li>

        </ul>
      </div>
      <div class="col-md-3 amet-sed ">
        <h4>Đối Tác</h4>
        <ul class="nav-bottom">
          <li><a href="single.html">Doanh Nghiệp</a></li>
          <li><a href="single.html">Nhà Trường</a></li>
          <li><a href="single.html">Công Ty Nước Ngoài</a></li>
          <li><a href="contact.html">RikkeiSoft.com</a></li>
          <li><a href="career.html">Mgm.com</a></li>
          <li><a href="feedback.html">FptSoft.com</a></li>
        </ul>
      </div>
      <div class="col-md-3 amet-sed">
        <h4>Tư Vấn</h4>
        <p>Mon-Fri, 7AM-7PM </p>
        <p>Sat-Sun, 8AM-5PM </p>
        <p>0972921571</p>
        <ul class="nav-bottom">
          <li><a href="#">Live Chat</a></li>
          <li><a href="faqs.html">Câu Hỏi Thắc Mắc</a></li>
          <li><a href="suggestion.html">Đề Nghị</a></li>
        </ul>
      </div>
      <div class="col-md-3 amet-sed ">
        <h4>Dịch Vụ</h4>
        <ul class="nav-bottom">
          <li><a href="login.html">Đăng Nhập</a></li>
          <li><a href="register.html">Đăng Ký</a></li>
          <li><a href="single.html">Tuyển Dụng</a></li>
          <li><a href="single.html">Chính Sách Bảo Mật</a></li>
          <li><a href="single.html">Điều Khoản Dịch Vụ</a></li>
        </ul>
        <ul class="social">
          <li><a href="#"><i> </i></a></li>
          <li><a href="#"><i class="gmail"> </i></a></li>
          <li><a href="#"><i class="twitter"> </i></a></li>
          <li><a href="#"><i class="camera"> </i></a></li>
          <li><a href="#"><i class="dribble"> </i></a></li>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="col-md-4 footer-logo">
        <h2><a href="../../../index.html">INTERNFINDER</a></h2>
      </div>
      <div class="col-md-8 footer-class">
        <p >© 2021 InternFinder. All Rights Reserved | Design by  <a href="#" target="_blank">InternFinder</a> </p>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
