<section id="intro">
  <div class="carousel-item active">
    <div class="carousel-background"><img src="../../../assets/Client/minhhoang/imags/slider/slider1.jpg" alt=""></div>
    <div class="carousel-container">
      <div class="carousel-content">
        <h2 class="font-color-white">Thông tin đăng tuyển</h2>
        <p class="font-color-white width-100"><a href="index.html" class="font-color-white">Trang chủ /</a><a href="Job_Category-2.html" class="font-color-white">Công ty </a>/ Tìm kiếm
        </p>
      </div>
    </div>
  </div>
</section>
<section id="job-Details">
  <div class="container background-color-full-white job-Details">
    <div class="Exclusive-Product">
      <h3>CHUYÊN VIÊN TƯ VẤN TÀI CHÍNH BẢO HIỂM (THU NHẬP CỐ ĐỊNH 800$ - 1200$)</h3>
      <a href="#" class="Apply-Now">Ứng tuyển</a>
      <h6 class="font-color-orange">CÔNG TY TNHH BẢO HIỂM NHÂN THỌ AIA (VIỆT NAM)</h6>
      <a href="#">View more similar jobs</a>
      <i class="material-icons">place</i>
      <span class="text">Tầng 2 tòa nhà Bitexco Financial, số 02 Hải Triều, Quận 1,Thành phố Hồ Chí Minh, Việt Nam</span>
      <h4>Sơ lược về công ty</h4>
      <p>Công ty: AIA Việt Nam – Kênh Bảo hiểm Cao Cấp nest by AIA

        Nơi làm việc: Tầng 2 – Tòa nhà tài chính Bitexco

        Loại hình làm việc: Toàn thời gian ( Thứ 2 – Thứ 6: 9am – 6pm)

        RELATIONSHIP MANAGER (RM) là phân khúc cao cấp nhất trong bộ phận kinh doanh và cung cấp dịch vụ một cách độc đáo, đáng tin cậy của AIA Việt Nam giành cho các khách hàng hiện tại của AIA và các khách hàng VIP tiềm năng.</p>
    </div>
    <img src="imags/job-detail.jpg" alt="" class="job-detail-img">
    <div class="Job-Description">
      <h4>MÔ TẢ CÔNG VIỆC</h4>
      <ul>
        <li class="list-style">+ Chăm sóc mối quan hệ với đối tác và khách hàng cá nhân
        </li>
        <li class="list-style">
          Tư vấn giải pháp tài chính bảo hiểm</li>
        <li class="list-style">
          Tìm kiếm nguồn khách hàng tiềm năng</li>
        <li class="list-style">
          Tìm kiếm đối tác kinh doanh và các cơ hội bán chéo sản phẩm của công ty AIA dựa trên nhu cầu khách hàng.</li>
        <li class="list-style">
          Chào đón khách hàng, tiếp nhận ý kiến và hỗ trợ khách hàng làm dịch vụ tại văn phòng Bitexco ( Customer Services)</li>
        <li class="list-style">
          Hỗ trợ tổ chức sự kiện khách hàng, workshop event signature của nest by AIA</li>
      </ul>
      <div class="vertical-space-20"></div>
      <h4>YÊU CẦU ỨNG VIÊN</h4>
      <p class="margin-bottom">
        Tự tin, vui vẻ, năng động, nhiệt tình, chăm chỉ, nghiêm túc và có trách nhiệm
      <ul>
        <li class="list-style">Tự tin, vui vẻ, năng động, nhiệt tình, chăm chỉ, nghiêm túc và có trách nhiệm</li>
      <li class="list-style">
        Độ tuổi từ 25-30. Ưu tiên có kinh nghiệm ngành Sale, Tài Chính, Bảo hiểm, Giáo dục, BĐS</li>

      <li class="list-style">
        Ngoại hình sáng là lợi thế. Nam/ Nữ/ LGBT

      </li>
      <li class="list-style">
        Biết cách hoạch định công việc, luôn hoàn thành các chỉ tiêu công việc được đưa ra.

      </li>    </ul>
    </div>
  </div>
</section>
<section id="comment" class="background-color-full-white-light">
  <div class="container">
    <div class="max-width-70">
      <h4>comment</h4>
      <a href="#" class="Share">Share</a>
      <div class="media border p-3">
        <img src="../../../assets/Client/minhhoang/imags/comment1.png" alt="John Doe" class="mr-3 rounded-circle imagess" style="width:60px;">
        <div class="media-body">
          <h6>Minh Hoàng</h6>
          <p>Tối muốn ứng tuyển trực tiếp thì có thể phỏng vấn ngay không</p>        </div>
      </div>
      <div class="media border p-3 ">
        <img src="../../../assets/Client/minhhoang/imags/comment2.png" alt="John Doe" class="mr-3 rounded-circle imagess" style="width:60px;">
        <div class="media-body">
          <h6>Hoàng Anh</h6>
       <p> Tối muốn ứng tuyển trực tiếp thì có thể phỏng vấn ngay không    </p>      </div>
      </div>
      <div class="media border p-3 padding-none border-none">
        <img src="../../../assets/Client/minhhoang/imags/comment3.png" alt="John Doe" class="mr-3 rounded-circle imagess" style="width:60px;">
        <div class="media-body">
          <form>
            <textarea placeholder="Type commeny" required></textarea>
            <button class="Post">Bình luận</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
